.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.idea/
*.iml
*.pdf
*.sqlite*
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
local/
